body {
    background: plum;
  }

h1 {
    display: flex;
    justify-content: center; 
     align-items: center;
     color: black;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

img {
    align-items: center;
    width: 200px; /* Set the desired width */
    height: 150px; /* Set the desired height */
  }

  button {
    /* Increase the width and height */
    width: 150px; /* Adjust to your desired width */
    height: 150x; /* Adjust to your desired height */
  
    /* Adjust padding to provide spacing around the text */
    padding: 10px 20px; /* Top/Bottom padding 10px, Left/Right padding 20px */
  
    /* Increase the font size */
    font-size: 20px; /* Adjust to your desired font size */
  
    /* Optionally, you can adjust other styles as needed */
    background-color: white; /* Button background color */
    color: black; /* Text color */
    border: white; /* Remove border if needed */
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer; /* Add a pointer cursor on hover */
    margin: 5px;
  }
  

  #image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 25vh; /* Make the container take the full viewport height */
}



#jokes {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif
}
  
#jokeForm {
    display: none;
    text-align: center; /* Center form content */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
  
#heartIcon {
    font-size: 100px;
    color: red;
  }

/* Center the div horizontally */
#likeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust the height as needed */
    background-color: black; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Ensure full viewport height */
    
}

#userInputJoke {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-size: 20px
    
}

#pageInstructions {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans'; 
    font-size: 40px;
    color: whitesmoke
    
}